.loading-container {
    height: 100px;
    width: 100px;
    position: relative;
    opacity: 100%;
    transition: opacity 0.1s;
    pointer-events: none;
    user-select: none;
}

.loading-container.dance {
    animation: loading-jump 0.8s ease-in-out 0s infinite both;
}

.loading-fill {
    height: 100px;
    width: 100px;
    position: absolute;
    pointer-events: none;
    user-select: none;
}

@keyframes loading-jump {
    0%,
    80%,
    100% {
        transform: translateY(0px); /* Ground position */
        animation-timing-function: ease-out;
    }
    40% {
        transform: translateY(-16px); /* Peak of the jump */
        animation-timing-function: ease-in;
    }
}
